In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'data/Airbnb_Open_Data.csv', encoding = 'latin')
df2 = df.copy()

C:\Users\gulma\AppData\Local\Temp\ipykernel_11096\1974533881.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'data/Airbnb_Open_Data.csv', encoding = 'latin')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border: 1px dashed blue !important;
        color: black !important;
        padding: 8px; 
    }
</style

### _Dataset before cleaning_

In [5]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

### _We have 102599 rows and 25 columns_

In [6]:
df.shape

(102599, 26)

### _Let's make  multi-word column names a bit tidier buy applying them underscore convention_

In [7]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

In [8]:
df.isna().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

### _For better representation, let's show how much % of each column contain missing values_

In [9]:
missing_percent = df.isna().sum()/df.shape[0]*100
# missing_percent returns two columns - first containing column names of the dataset,
# second containing the % of missing values

In [10]:
missing_percent = pd.DataFrame({"column": missing_percent.keys(), "%": missing_percent.values})
missing_percent = missing_percent.sort_values(by="%", ascending=False)

In [11]:
missing_percent

                            column          %
25                         license  99.998051
24                     house_rules  50.810437
19                     last_review  15.490404
20               reviews_per_month  15.476759
9                          country   0.518524
23                availability_365   0.436651
17                  minimum_nights   0.398639
4                        host_name   0.395715
21              review_rate_number   0.317742
22  calculated_host_listings_count   0.310919
3           host_identity_verified   0.281679
16                     service_fee   0.266084
1                             name   0.243667
15                           price   0.240743
14               construction_year   0.208579
18               number_of_reviews   0.178364
10                    country_code   0.127682
11                instant_bookable   0.102340
12             cancellation_policy   0.074075
5              neighbourhood_group   0.028265
6                    neighbourhood   0.015595
8                             long   0.007797
7                              lat   0.007797
0                               id   0.000000
2                          host_id   0.000000
13                       room_type   0.000000

### _We can remove column 'license' as 99.98 % of records does not have that value_

In [12]:
df.drop(columns='license', inplace=True)
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN

### _We cannot remove all the records whose 'house_rules' column contains null values as they constitute large proportion of the data, therefore, we keep them and remove other null value containing records_

### _Also there is no need to remove records with missing value for columns 'neighbourhood_group', 'neighbourhood', 'lat', and 'long'_

In [13]:
columns_not_to_check = ['house_rules', 'neighbourhood_group', 'neighbourhood', 'lat', 'long']
columns_to_check = [col for col in df.columns if col not in columns_not_to_check]

In [14]:
df.dropna(subset=columns_to_check, inplace = True)

In [15]:
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0,10/5/2017,0.40,5.0,1.0,219.0,House Guidelines for our BnB We are delighted ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102588,6089124,"Loft Space for Events, Meetings & Shoots",85557432222,unconfirmed,Kalin,Manhattan,Flatiron District,40.74068,-73.98999,United States,US,True,flexible,Entire home/apt,2016.0,$618,$124,1.0,177.0,6/29/2019,3.78,4.0,1.0,410.0,Keep the apartment clean and damage free please.
102591,6090781,Columbus Ave Apt 1 block from Park,50908010324,verified,Lawrence,Manhattan,Upper West Side,40.77408,-73.98181,United States,US,False,strict,Entire home/apt,2005.0,"$1,139",$228,5.0,17.0,1/4/2019,0.35,5.0,1.0,134.0,#NAME?
102593,6091885,"Welcoming, Clean, Cheap on St Marks",33188605074,verified,Felipe,Manhattan,East Village,40.72826,-73.98422,United States,US,True,strict,Private room,2017.0,"$1,099",$220,1.0,8.0,9/6/2015,0.16,4.0,2.0,152.0,* No smoking indoors. * No pets * No loud/la...
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN

In [16]:
df['id'].value_counts()

id
35526161    2
35565927    2
35564822    2
35564270    2
35563718    2
           ..
20077226    1
20076121    1
20075017    1
20069494    1
57358028    1
Name: count, Length: 83436, dtype: int64

In [17]:
df['name'].value_counts()

name
Water View King Bed Hotel Room                        25
Home away from home                                   24
Private Room                                          21
#NAME?                                                20
Beautiful 2 Double Bed Hotel Room                     18
                                                      ..
Huge Private Bedroom, Manhattan Washington Heights     1
GEM BnB Cozy Comfort 3 Br House near JFK               1
Beautiful room Williamsburg Brooklyn NY                1
Amazing Central Park Apartment Close to everything     1
Parisian Style Apartment in Heart of Brooklyn          1
Name: count, Length: 50557, dtype: int64

### _99.44 % of listings are from different hosts_

In [18]:
df['host_id'].value_counts()

host_id
24113972708    2
88220095123    2
10152388003    2
60438862057    2
33047388282    2
              ..
10416637759    1
14314223083    1
48819376631    1
89901399235    1
56457739998    1
Name: count, Length: 83436, dtype: int64

In [19]:
df['host_id'].unique().shape[0]/df['host_id'].shape[0]

0.9944459011704131

In [20]:
df['host_identity_verified'].value_counts()

host_identity_verified
verified       41953
unconfirmed    41949
Name: count, dtype: int64

In [21]:
df['host_name'].value_counts()

host_name
Michael        716
David          606
John           499
Alex           448
Karen          404
              ...
Lari             1
Manuel Alex      1
Lika             1
Adi & Naor       1
Madaline         1
Name: count, Length: 11649, dtype: int64

### _We have limited number of neighbourhood groups and here's a list of them:_

In [22]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Brooklyn         34834
Manhattan        34765
Queens           11190
Bronx             2284
Staten Island      822
brookln              1
Name: count, dtype: int64

In [23]:
df['neighbourhood_group'].isna().sum()

6

### _Let's fill-in the missing values of neighbourhood based on latitude and longitude_

In [24]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="App")
location = geolocator.geocode("Nurtepe")
location

Location(Nurtepe Mahallesi, KÃ¢ÄŸÄ±thane, Ä°stanbul, Marmara BÃ¶lgesi, TÃ¼rkiye, (41.074985, 28.9618782, 0.0))

In [25]:
df.loc[df.neighbourhood.isna()]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
547,1303444,STYLISH EAST VILLAGE FLAT,6825076306,verified,Arnold,Manhattan,NaN,40.73089,-73.98195,United States,US,True,strict,Entire home/apt,2013.0,$749,$150,30.0,25.0,4/30/2018,0.26,4.0,1.0,67.0,NaN
575,1318909,"2 Bed, 2 Bath Apartment on Central Park West",86633710982,unconfirmed,Arthur,Manhattan,NaN,40.79816,-73.96190,United States,US,True,strict,Entire home/apt,2014.0,$892,$178,2.0,45.0,4/22/2019,0.47,4.0,3.0,4.0,NaN
613,1339896,Wonderfully inviting East Village,84560895335,verified,Carter,Manhattan,NaN,40.72709,-73.98274,United States,US,True,moderate,Private room,2004.0,$486,$97,1.0,109.0,10/2/2015,1.15,2.0,1.0,116.0,#NAME?
624,1345971,Stylish Studio with exclusive Terrace,21547822804,unconfirmed,Cole,Manhattan,NaN,40.75348,-73.97065,United States,US,False,moderate,Entire home/apt,2019.0,$417,$83,30.0,136.0,6/19/2019,1.45,4.0,1.0,272.0,Please remember that this is a residential bui...
633,1350942,Lower East Side/Chinatown 1 Bedroom,58408401042,verified,Higgins,Manhattan,NaN,40.71693,-73.98948,United States,US,False,flexible,Entire home/apt,2017.0,"$1,148",$230,5.0,8.0,5/18/2018,0.11,3.0,1.0,42.0,NaN
643,1356465,2BR Apt - 20min to Soho,21192497123,verified,Barrett,Brooklyn,NaN,40.68016,-73.94878,United States,US,False,moderate,Entire home/apt,2015.0,$938,$188,3.0,5.0,7/9/2017,0.05,2.0,1.0,408.0,Smoking is allowed on the patio only. No pets ...
670,1371377,Loft Suite @ The Box House Hotel,75427375884,verified,Gray,Brooklyn,NaN,40.73641,-73.95330,United States,US,False,strict,Entire home/apt,2006.0,$104,$21,3.0,24.0,11/6/2018,0.32,4.0,28.0,419.0,NaN
681,1377452,Loft w/ Terrace @ Box House Hotel,77372797211,unconfirmed,Higgins,Brooklyn,NaN,40.73783,-73.95259,United States,US,True,flexible,Private room,2009.0,$528,$106,3.0,3.0,11/3/2015,0.03,2.0,28.0,216.0,PLEASE NOTE: Ã¢Â€Â¢ 6.25% MA State Sales Tax is ...
726,1402306,Studio sublet in Hell's kitchen,42150054304,verified,Baker,Manhattan,NaN,40.76217,-73.98411,United States,US,True,moderate,Entire home/apt,2003.0,$831,$166,5.0,8.0,1/8/2015,0.09,3.0,1.0,322.0,Please Note: This unit was just renovated in A...
731,1405067,One bed suite with private garden,464927437,unconfirmed,Myers,Manhattan,NaN,40.78304,-73.97447,United States,US,False,flexible,Entire home/apt,2005.0,$624,$125,30.0,16.0,3/31/2019,0.17,4.0,5.0,24.0,"No smoking, no pets, no parties please. Respec..."
760,1421084,Spacious room on charming block in Greenpoint!,67988523719,verified,Williams,Brooklyn,NaN,40.72723,-73.95728,United States,US,True,strict,Private room,2020.0,$745,$149,4.0,6.0,4/21/2019,0.07,3.0,1.0,20.0,NaN
770,1426607,Nights in White Satin in the Slope,54377094483,unconfirmed,Farrell,Brooklyn,NaN,40.65992,-73.99042,United States,US,False,strict,Entire home/apt,2007.0,"$1,111",$222,180.0,1.0,9/1/2016,0.03,4.0,1.0,163.0,NaN

In [26]:
def get_neighbourhood_from_coordinates(lat, long):
    location = geolocator.reverse(str(lat)+','+str(long))
    return location.raw['address'].get('road', '')

temp = df.loc[df.neighbourhood.isna()].copy()
print(get_neighbourhood_from_coordinates(temp.iloc[0].lat, temp.iloc[0].long), end='\n\n')
print(get_neighbourhood_from_coordinates(45.72723, -70.12))

East 14th Street

Baker Dimmock Road

In [27]:
idx = df.loc[df.neighbourhood.isna()].index
df.loc[idx]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
547,1303444,STYLISH EAST VILLAGE FLAT,6825076306,verified,Arnold,Manhattan,NaN,40.73089,-73.98195,United States,US,True,strict,Entire home/apt,2013.0,$749,$150,30.0,25.0,4/30/2018,0.26,4.0,1.0,67.0,NaN
575,1318909,"2 Bed, 2 Bath Apartment on Central Park West",86633710982,unconfirmed,Arthur,Manhattan,NaN,40.79816,-73.96190,United States,US,True,strict,Entire home/apt,2014.0,$892,$178,2.0,45.0,4/22/2019,0.47,4.0,3.0,4.0,NaN
613,1339896,Wonderfully inviting East Village,84560895335,verified,Carter,Manhattan,NaN,40.72709,-73.98274,United States,US,True,moderate,Private room,2004.0,$486,$97,1.0,109.0,10/2/2015,1.15,2.0,1.0,116.0,#NAME?
624,1345971,Stylish Studio with exclusive Terrace,21547822804,unconfirmed,Cole,Manhattan,NaN,40.75348,-73.97065,United States,US,False,moderate,Entire home/apt,2019.0,$417,$83,30.0,136.0,6/19/2019,1.45,4.0,1.0,272.0,Please remember that this is a residential bui...
633,1350942,Lower East Side/Chinatown 1 Bedroom,58408401042,verified,Higgins,Manhattan,NaN,40.71693,-73.98948,United States,US,False,flexible,Entire home/apt,2017.0,"$1,148",$230,5.0,8.0,5/18/2018,0.11,3.0,1.0,42.0,NaN
643,1356465,2BR Apt - 20min to Soho,21192497123,verified,Barrett,Brooklyn,NaN,40.68016,-73.94878,United States,US,False,moderate,Entire home/apt,2015.0,$938,$188,3.0,5.0,7/9/2017,0.05,2.0,1.0,408.0,Smoking is allowed on the patio only. No pets ...
670,1371377,Loft Suite @ The Box House Hotel,75427375884,verified,Gray,Brooklyn,NaN,40.73641,-73.95330,United States,US,False,strict,Entire home/apt,2006.0,$104,$21,3.0,24.0,11/6/2018,0.32,4.0,28.0,419.0,NaN
681,1377452,Loft w/ Terrace @ Box House Hotel,77372797211,unconfirmed,Higgins,Brooklyn,NaN,40.73783,-73.95259,United States,US,True,flexible,Private room,2009.0,$528,$106,3.0,3.0,11/3/2015,0.03,2.0,28.0,216.0,PLEASE NOTE: Ã¢Â€Â¢ 6.25% MA State Sales Tax is ...
726,1402306,Studio sublet in Hell's kitchen,42150054304,verified,Baker,Manhattan,NaN,40.76217,-73.98411,United States,US,True,moderate,Entire home/apt,2003.0,$831,$166,5.0,8.0,1/8/2015,0.09,3.0,1.0,322.0,Please Note: This unit was just renovated in A...
731,1405067,One bed suite with private garden,464927437,unconfirmed,Myers,Manhattan,NaN,40.78304,-73.97447,United States,US,False,flexible,Entire home/apt,2005.0,$624,$125,30.0,16.0,3/31/2019,0.17,4.0,5.0,24.0,"No smoking, no pets, no parties please. Respec..."
760,1421084,Spacious room on charming block in Greenpoint!,67988523719,verified,Williams,Brooklyn,NaN,40.72723,-73.95728,United States,US,True,strict,Private room,2020.0,$745,$149,4.0,6.0,4/21/2019,0.07,3.0,1.0,20.0,NaN
770,1426607,Nights in White Satin in the Slope,54377094483,unconfirmed,Farrell,Brooklyn,NaN,40.65992,-73.99042,United States,US,False,strict,Entire home/apt,2007.0,"$1,111",$222,180.0,1.0,9/1/2016,0.03,4.0,1.0,163.0,NaN

In [28]:
df.loc[idx, 'neighbourhood'] = df.loc[idx].apply(lambda x: get_neighbourhood_from_coordinates(x.lat, x.long), axis=1)

In [29]:
df[df['neighbourhood'].isna()]

Empty DataFrame
Columns: [id, name, host_id, host_identity_verified, host_name, neighbourhood_group, neighbourhood, lat, long, country, country_code, instant_bookable, cancellation_policy, room_type, construction_year, price, service_fee, minimum_nights, number_of_reviews, last_review, reviews_per_month, review_rate_number, calculated_host_listings_count, availability_365, house_rules]
Index: []

In [30]:
df.loc[idx].head(2)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
547,1303444,STYLISH EAST VILLAGE FLAT,6825076306,verified,Arnold,Manhattan,East 14th Street,40.73089,-73.98195,United States,US,True,strict,Entire home/apt,2013.0,$749,$150,30.0,25.0,4/30/2018,0.26,4.0,1.0,67.0,NaN
575,1318909,"2 Bed, 2 Bath Apartment on Central Park West",86633710982,unconfirmed,Arthur,Manhattan,Manhattan Avenue,40.79816,-73.96190,United States,US,True,strict,Entire home/apt,2014.0,$892,$178,2.0,45.0,4/22/2019,0.47,4.0,3.0,4.0,NaN

In [31]:
df['neighbourhood'].value_counts()

neighbourhood
Bedford-Stuyvesant    6792
Williamsburg          6366
Harlem                4579
Bushwick              4011
Hell's Kitchen        3202
                      ...
East 47th Street         1
Avenue A                 1
Manhattan Avenue         1
East 14th Street         1
New Dorp                 1
Name: count, Length: 235, dtype: int64

### _Now let's fix the same for column 'neighbourhood_group'_

In [32]:
def get_ngroup_from_coordinates(lat, long):
    location = geolocator.reverse(str(lat) + ','+ str(long))
    return location.raw['address'].get('suburb')

In [33]:
# getting all records, where neighbourhood_group is NaN
idx = df.loc[df['neighbourhood_group'].isna()].index
df.loc[idx]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
319,1177520,BROOKLYN > Guest Room w/ King Bed in Williamsburg,59305845429,verified,Holmes,NaN,Williamsburg,40.71398,-73.95763,United States,US,False,strict,Private room,2017.0,"$1,080",$216,2.0,220.0,6/22/2019,2.17,3.0,2.0,361.0,NaN
361,1200716,Bienvenue,92724296556,verified,Richards,NaN,Queens Village,40.72413,-73.76133,United States,US,True,moderate,Private room,2015.0,$671,$134,1.0,43.0,7/8/2019,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm
384,1213419,Sun-Drenched Hamilton Hts Jewel,618609977,unconfirmed,Payne,NaN,Harlem,40.82399,-73.95328,United States,US,True,moderate,Private room,2013.0,"$1,083",$217,14.0,35.0,6/1/2019,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...
448,1248766,Hancock Town House!-Stuyvesant Mews,17302896128,unconfirmed,Lucia,NaN,Bedford-Stuyvesant,40.68669,-73.91989,United States,US,False,moderate,Private room,2013.0,$999,$200,1.0,27.0,10/8/2017,0.28,1.0,4.0,181.0,NaN
492,1273068,Large Quiet Bedroom Near Columbia U,95738430033,verified,Rebecca,NaN,Harlem,40.80518,-73.95359,United States,US,False,strict,Private room,2016.0,$945,$189,5.0,43.0,1/3/2018,0.47,3.0,2.0,147.0,NaN
40396,23312047,Large room near express trains & Central Park,22672807843,unconfirmed,Julian,NaN,Upper West Side,40.79471,-73.96918,United States,US,False,moderate,Private room,2012.0,$175,$35,4.0,2.0,2/22/2019,0.37,2.0,1.0,0.0,No pets. No smoking. Please :)

In [34]:
df.loc[idx, 'neighbourhood_group'] = df.loc[idx].apply(lambda x: get_ngroup_from_coordinates(x.lat, x.long), axis=1)

In [35]:
df.neighbourhood_group.value_counts()

neighbourhood_group
Brooklyn         34836
Manhattan        34768
Queens           11190
Bronx             2284
Staten Island      822
brookln              1
Queens County        1
Name: count, dtype: int64

In [36]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace('brookln', 'Brooklyn')
df['neighbourhood_group'].value_counts()

neighbourhood_group
Brooklyn         34837
Manhattan        34768
Queens           11190
Bronx             2284
Staten Island      822
Queens County        1
Name: count, dtype: int64

In [37]:
df.loc[idx]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
319,1177520,BROOKLYN > Guest Room w/ King Bed in Williamsburg,59305845429,verified,Holmes,Brooklyn,Williamsburg,40.71398,-73.95763,United States,US,False,strict,Private room,2017.0,"$1,080",$216,2.0,220.0,6/22/2019,2.17,3.0,2.0,361.0,NaN
361,1200716,Bienvenue,92724296556,verified,Richards,Queens County,Queens Village,40.72413,-73.76133,United States,US,True,moderate,Private room,2015.0,$671,$134,1.0,43.0,7/8/2019,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm
384,1213419,Sun-Drenched Hamilton Hts Jewel,618609977,unconfirmed,Payne,Manhattan,Harlem,40.82399,-73.95328,United States,US,True,moderate,Private room,2013.0,"$1,083",$217,14.0,35.0,6/1/2019,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...
448,1248766,Hancock Town House!-Stuyvesant Mews,17302896128,unconfirmed,Lucia,Brooklyn,Bedford-Stuyvesant,40.68669,-73.91989,United States,US,False,moderate,Private room,2013.0,$999,$200,1.0,27.0,10/8/2017,0.28,1.0,4.0,181.0,NaN
492,1273068,Large Quiet Bedroom Near Columbia U,95738430033,verified,Rebecca,Manhattan,Harlem,40.80518,-73.95359,United States,US,False,strict,Private room,2016.0,$945,$189,5.0,43.0,1/3/2018,0.47,3.0,2.0,147.0,NaN
40396,23312047,Large room near express trains & Central Park,22672807843,unconfirmed,Julian,Manhattan,Upper West Side,40.79471,-73.96918,United States,US,False,moderate,Private room,2012.0,$175,$35,4.0,2.0,2/22/2019,0.37,2.0,1.0,0.0,No pets. No smoking. Please :)

### _Let's see fix the records with NaN 'lat' or/and 'long' attributes based on their neighbourhood_

In [38]:
def get_lat_from_location(loc):
    location = geolocator.geocode(loc)
    return location.latitude
def get_long_from_location(loc):
    location = geolocator.geocode(loc)
    return location.longitude

In [39]:
idx = df.loc[df['lat'].isna() & df['long'].isna()].index
df.loc[idx]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
785,1434892,Authentic NY Charming Artist Loft,66486085219,unconfirmed,Bailey,Brooklyn,Greenpoint,NaN,NaN,United States,US,False,strict,Entire home/apt,2021.0,"$1,058",$212,5.0,14.0,6/19/2019,0.16,5.0,1.0,226.0,We live and let live - hoping that you'd be re...
799,1442624,Huge room with private balcony,69386945815,verified,Hunt,Manhattan,East Village,NaN,NaN,United States,US,False,flexible,Private room,2010.0,$506,$101,6.0,1.0,5/6/2013,0.01,1.0,1.0,240.0,Expect respect for the family and the space--t...
814,1450908,Decorators 5-Star Flat West Village,33280739304,verified,Watson,Manhattan,West Village,NaN,NaN,United States,US,True,strict,Entire home/apt,2003.0,$381,$76,20.0,157.0,8/11/2016,1.71,4.0,1.0,61.0,"Please keep it clean, thats all we really ask ..."
843,1466925,Nice Private Room Beauty in Queens,15305733205,verified,Roberts,Queens,Elmhurst,NaN,NaN,United States,US,True,strict,Private room,2005.0,$224,$45,1.0,63.0,5/18/2019,0.89,3.0,2.0,70.0,NaN
885,1490122,Cute Room in Historic Loft!,42267829819,unconfirmed,Jones,Brooklyn,Greenpoint,NaN,NaN,United States,US,True,flexible,Private room,2019.0,$524,$105,14.0,22.0,5/2/2019,0.25,1.0,1.0,266.0,"Pets are cool (just clean up after them!), smo..."
986,1545904,New York City for All Seasons!,26437872336,unconfirmed,Douglas,Manhattan,Upper West Side,NaN,NaN,United States,US,True,flexible,Private room,2014.0,$413,$83,1.0,25.0,6/22/2013,0.28,2.0,1.0,259.0,No Smoking No Pets

In [40]:


df.loc[idx, 'lat'] = df.loc[idx].apply(
    lambda x: get_lat_from_location(x['neighbourhood'] + ', ' + x['neighbourhood_group']), axis=1
)

df.loc[idx, 'long'] = df.loc[idx].apply(
    lambda x: get_long_from_location(x['neighbourhood'] + ', ' + x['neighbourhood_group']), axis=1
)

In [41]:
df.loc[idx]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
785,1434892,Authentic NY Charming Artist Loft,66486085219,unconfirmed,Bailey,Brooklyn,Greenpoint,40.723713,-73.950971,United States,US,False,strict,Entire home/apt,2021.0,"$1,058",$212,5.0,14.0,6/19/2019,0.16,5.0,1.0,226.0,We live and let live - hoping that you'd be re...
799,1442624,Huge room with private balcony,69386945815,verified,Hunt,Manhattan,East Village,40.729269,-73.987361,United States,US,False,flexible,Private room,2010.0,$506,$101,6.0,1.0,5/6/2013,0.01,1.0,1.0,240.0,Expect respect for the family and the space--t...
814,1450908,Decorators 5-Star Flat West Village,33280739304,verified,Watson,Manhattan,West Village,40.734186,-74.005580,United States,US,True,strict,Entire home/apt,2003.0,$381,$76,20.0,157.0,8/11/2016,1.71,4.0,1.0,61.0,"Please keep it clean, thats all we really ask ..."
843,1466925,Nice Private Room Beauty in Queens,15305733205,verified,Roberts,Queens,Elmhurst,40.736580,-73.878393,United States,US,True,strict,Private room,2005.0,$224,$45,1.0,63.0,5/18/2019,0.89,3.0,2.0,70.0,NaN
885,1490122,Cute Room in Historic Loft!,42267829819,unconfirmed,Jones,Brooklyn,Greenpoint,40.723713,-73.950971,United States,US,True,flexible,Private room,2019.0,$524,$105,14.0,22.0,5/2/2019,0.25,1.0,1.0,266.0,"Pets are cool (just clean up after them!), smo..."
986,1545904,New York City for All Seasons!,26437872336,unconfirmed,Douglas,Manhattan,Upper West Side,40.787045,-73.975416,United States,US,True,flexible,Private room,2014.0,$413,$83,1.0,25.0,6/22/2013,0.28,2.0,1.0,259.0,No Smoking No Pets

### _Since 'country' column for all records is US, it is usual to have very close values for 'lat' and 'long' columns_

In [42]:
print(df['country'].value_counts(), end='\n\n')
print(df['country_code'].value_counts(), end='\n\n')
df[['lat', 'long']].describe()

country
United States    83902
Name: count, dtype: int64

country_code
US    83902
Name: count, dtype: int64

                lat          long
count  83902.000000  83902.000000
mean      40.727351    -73.948485
std        0.056329      0.050372
min       40.504560    -74.249840
25%       40.687660    -73.982100
50%       40.721320    -73.953710
75%       40.762580    -73.930820
max       40.916970    -73.705220

### _We can remove columns 'country' and 'country_code' as it is the same for all records_

In [43]:
columns_to_drop = ['country', 'country_code']
columns_present = [col for col in columns_to_drop if col in df.columns]
if columns_present:
    df.drop(columns=['country', 'country_code'], axis=1, inplace=True)
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long',
       'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules'],
      dtype='object')

### _Column 'instant_bookable', 'cancellation_policy', and 'room_type' just seems fine_

In [44]:
df['instant_bookable'].value_counts()

instant_bookable
False    42156
True     41746
Name: count, dtype: int64

In [45]:
df['cancellation_policy'].value_counts()

cancellation_policy
moderate    28114
strict      27935
flexible    27853
Name: count, dtype: int64

In [46]:
df['room_type'].value_counts()

room_type
Entire home/apt    44403
Private room       37730
Shared room         1660
Hotel room           109
Name: count, dtype: int64

### _Let's drop records whole 'construction_year' column contains missing values and change 'construction_year' from float to int_

In [47]:
df.dropna(subset=['construction_year'], inplace=True)
df['construction_year']=df['construction_year'].apply(int)
df['construction_year'].value_counts().sort_index()

construction_year
2003    4177
2004    4121
2005    4215
2006    4319
2007    4160
2008    4306
2009    4187
2010    4214
2011    4181
2012    4190
2013    4046
2014    4286
2015    4242
2016    4139
2017    4191
2018    4185
2019    4281
2020    4169
2021    4152
2022    4141
Name: count, dtype: int64

### _Let's clean 'price' and 'service_fee' columns by removing the dollar sign and convert values to integers by fixing commas in numbers_

In [48]:
df[['price']]

          price
0         $966
1         $142
4         $204
5         $577
7       $1,060
...         ...
102588    $618
102591  $1,139
102593  $1,099
102595    $837
102597    $546

[83902 rows x 1 columns]

In [49]:
def remove_currency(value):
    value = value.replace(',', '')
    value = value.replace('$', '')
    return value
print(remove_currency("$1,099"))

1099

In [50]:
df['price'] = df['price'].apply(lambda x: remove_currency(x))
df['price'] = df['price'].apply(int)

df['service_fee'] = df['service_fee'].apply(remove_currency)
df['service_fee'] = df['service_fee'].apply(int)

In [51]:
print(df[['price']].value_counts(), end='\n\n')
print(df[['service_fee']].value_counts())

price
206      125
481      111
833      111
1056     111
890      108
        ...
159       46
965       45
786       43
187       41
89        37
Name: count, Length: 1151, dtype: int64

service_fee
216            453
41             441
127            429
207            427
177            425
              ...
58             313
73             313
202            299
10             219
240            215
Name: count, Length: 231, dtype: int64

### _Let's change values from float to int in 'minimum_nights' and 'number_of_reviews'  columns_

In [52]:
df['minimum_nights'] = df['minimum_nights'].apply(int)
df['minimum_nights']

0         10
1         30
4         10
5          3
7         45
          ..
102588     1
102591     5
102593     1
102595     1
102597     2
Name: minimum_nights, Length: 83902, dtype: int64

In [53]:
df['number_of_reviews'] = df['number_of_reviews'].apply(int)
df['number_of_reviews']

0           9
1          45
4           9
5          74
7          49
         ...
102588    177
102591     17
102593      8
102595      1
102597      5
Name: number_of_reviews, Length: 83902, dtype: int64

### _Let's change column 'last_review' to datetime_

In [54]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['last_review']

0        2021-10-19
1        2022-05-21
4        2018-11-19
5        2019-06-22
7        2017-10-05
            ...
102588   2019-06-29
102591   2019-01-04
102593   2015-09-06
102595   2015-07-06
102597   2015-10-11
Name: last_review, Length: 83902, dtype: datetime64[ns]

### _No change in 'reviews_per_month' column_

In [55]:
df['reviews_per_month'].value_counts()

reviews_per_month
0.03     1632
0.05     1440
1.00     1422
0.04     1240
0.16     1216
         ...
9.40        1
8.73        1
8.94        1
11.21       1
10.37       1
Name: count, Length: 1012, dtype: int64

### _We can see that out of these many records, we get 5 unique values for 'review_rate_number', therefore, it was most likely meant to be integer_

In [56]:
df['review_rate_number'].value_counts()

review_rate_number
5.0    19177
3.0    19141
4.0    19066
2.0    19056
1.0     7462
Name: count, dtype: int64

In [57]:
df['review_rate_number'] = df['review_rate_number'].apply(int)
df['review_rate_number'].value_counts()

review_rate_number
5    19177
3    19141
4    19066
2    19056
1     7462
Name: count, dtype: int64

In [58]:
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long',
       'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules'],
      dtype='object')

### _Again, it's a good idea to change column 'calculated_host_listings_count' and  'availability_365' to integer_

In [59]:
df['calculated_host_listings_count'].value_counts()

calculated_host_listings_count
1.0     50805
2.0     12690
3.0      5855
4.0      3210
5.0      1791
        ...
22.0       20
55.0       15
46.0        8
80.0        7
65.0        2
Name: count, Length: 77, dtype: int64

In [60]:
df['calculated_host_listings_count'] = df['calculated_host_listings_count'].apply(int)
df['calculated_host_listings_count'].value_counts()

calculated_host_listings_count
1     50805
2     12690
3      5855
4      3210
5      1791
      ...
22       20
55       15
46        8
80        7
65        2
Name: count, Length: 77, dtype: int64

In [61]:
df['availability_365'] = df['availability_365'].apply(int)
df['availability_365']

0         286
1         228
4         289
5         374
7         219
         ...
102588    410
102591    134
102593    152
102595    395
102597    386
Name: availability_365, Length: 83902, dtype: int64

### _We can see that almost half of the records miss value for 'house_rules' column, therefore, it's a good idea to remove that column_

In [62]:
df['house_rules'].isna().value_counts()

house_rules
True     44261
False    39641
Name: count, dtype: int64

In [63]:
df.drop(columns="house_rules", inplace=True)
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020,966,193,10,9,2021-10-19,0.21,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007,142,28,30,45,2022-05-21,0.38,4,2,228
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009,204,41,10,9,2018-11-19,0.10,3,1,289
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013,577,115,3,74,2019-06-22,0.59,3,1,374
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,False,moderate,Private room,2009,1060,212,45,49,2017-10-05,0.40,5,1,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102588,6089124,"Loft Space for Events, Meetings & Shoots",85557432222,unconfirmed,Kalin,Manhattan,Flatiron District,40.74068,-73.98999,True,flexible,Entire home/apt,2016,618,124,1,177,2019-06-29,3.78,4,1,410
102591,6090781,Columbus Ave Apt 1 block from Park,50908010324,verified,Lawrence,Manhattan,Upper West Side,40.77408,-73.98181,False,strict,Entire home/apt,2005,1139,228,5,17,2019-01-04,0.35,5,1,134
102593,6091885,"Welcoming, Clean, Cheap on St Marks",33188605074,verified,Felipe,Manhattan,East Village,40.72826,-73.98422,True,strict,Private room,2017,1099,220,1,8,2015-09-06,0.16,4,2,152
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,True,moderate,Private room,2016,837,167,1,1,2015-07-06,0.02,2,2,395
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,True,strict,Entire home/apt,2015,546,109,2,5,2015-10-11,0.10,3,1,386

### _Let's remove duplicate records_

In [64]:
df[df.duplicated()]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
102058,35506831,Master Bedroom with private Bathroom & Balcony,55110690425,unconfirmed,UZeyir,Queens,Maspeth,40.74056,-73.90635,True,strict,Private room,2016,706,141,1,1,2021-11-14,0.27,3,1,339
102059,35507383,Cozy 2 br in sunny Fort Greene apt,80193772189,verified,Sally,Brooklyn,Fort Greene,40.68701,-73.97555,False,flexible,Private room,2020,651,130,3,38,2021-11-13,0.27,3,1,0
102060,35507935,Duplex w/ Terrace @ Box House Hotel,72991962259,verified,The Box House Hotel,Brooklyn,Greenpoint,40.73756,-73.95350,False,strict,Hotel room,2016,907,181,3,10,2021-11-13,0.08,3,30,32
102061,35508488,"Cozy, clean Greenpoint room with yard access",74975156081,verified,Dawn,Brooklyn,Greenpoint,40.72516,-73.95004,False,strict,Private room,2013,589,118,30,38,2021-11-13,0.34,5,2,324
102062,35509040,2BR XL Loft: Cleaning CDC guidelines implemented,85844415221,unconfirmed,Vida,Brooklyn,Greenpoint,40.72732,-73.94185,False,flexible,Entire home/apt,2015,356,71,30,13,2021-11-13,0.14,4,28,336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102588,6089124,"Loft Space for Events, Meetings & Shoots",85557432222,unconfirmed,Kalin,Manhattan,Flatiron District,40.74068,-73.98999,True,flexible,Entire home/apt,2016,618,124,1,177,2019-06-29,3.78,4,1,410
102591,6090781,Columbus Ave Apt 1 block from Park,50908010324,verified,Lawrence,Manhattan,Upper West Side,40.77408,-73.98181,False,strict,Entire home/apt,2005,1139,228,5,17,2019-01-04,0.35,5,1,134
102593,6091885,"Welcoming, Clean, Cheap on St Marks",33188605074,verified,Felipe,Manhattan,East Village,40.72826,-73.98422,True,strict,Private room,2017,1099,220,1,8,2015-09-06,0.16,4,2,152
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,True,moderate,Private room,2016,837,167,1,1,2015-07-06,0.02,2,2,395
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,True,strict,Entire home/apt,2015,546,109,2,5,2015-10-11,0.10,3,1,386

In [65]:
df.drop_duplicates(keep='first', inplace=True)

In [66]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, name, host_id, host_identity_verified, host_name, neighbourhood_group, neighbourhood, lat, long, instant_bookable, cancellation_policy, room_type, construction_year, price, service_fee, minimum_nights, number_of_reviews, last_review, reviews_per_month, review_rate_number, calculated_host_listings_count, availability_365]
Index: []

### _It's strange to see records with negative minimum_nights, let's replace it with its median values_

In [67]:
df[df['minimum_nights'] < 0].head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
176,1098541,BROOKLYN VICTORIAN STYLE SUITE.....,83631499592,unconfirmed,Frederick,Brooklyn,Fort Greene,40.69098,-73.97113,False,flexible,Private room,2008,1155,231,-10,213,2019-06-24,2.00,5,2,19
398,1221151,SUPER BIG AND COZY PRIVATE BEDROOM,50336791874,verified,Tucker,Brooklyn,Kensington,40.64302,-73.97255,False,flexible,Private room,2015,779,156,-1,82,2019-05-19,0.94,2,2,131
421,1233854,Charming Nolita Apartment!!,7389895192,verified,Belinda,Manhattan,Nolita,40.72094,-73.99706,False,flexible,Entire home/apt,2008,874,175,-10,68,2019-06-10,0.69,5,1,13
441,1244900,Cozy apartment in a brownstone,81186886194,verified,Adelaide,Manhattan,Harlem,40.80497,-73.95016,False,moderate,Entire home/apt,2021,920,184,-12,203,2019-07-06,2.14,5,3,77
478,1265335,Charming upper west side apartment,89878315253,unconfirmed,Alen,Manhattan,Upper West Side,40.77886,-73.98042,True,strict,Entire home/apt,2022,410,82,-2,129,2019-06-07,1.33,2,1,381

In [68]:
median_value = df[df['minimum_nights'] >= 0]['minimum_nights'].median()
df.loc[df['minimum_nights'] < 0, 'minimum_nights'] = median_value

In [69]:
df[df['minimum_nights'] < 0].head()

Empty DataFrame
Columns: [id, name, host_id, host_identity_verified, host_name, neighbourhood_group, neighbourhood, lat, long, instant_bookable, cancellation_policy, room_type, construction_year, price, service_fee, minimum_nights, number_of_reviews, last_review, reviews_per_month, review_rate_number, calculated_host_listings_count, availability_365]
Index: []

### _For each listing, let's calculate minimum amount by multiplying the minimum nights with price and adding service fee_

In [70]:
df['min_amount'] = df['price'] * df['minimum_nights'] + df['service_fee']
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,min_amount
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020,966,193,10,9,2021-10-19,0.21,4,6,286,9853
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007,142,28,30,45,2022-05-21,0.38,4,2,228,4288
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009,204,41,10,9,2018-11-19,0.10,3,1,289,2081
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013,577,115,3,74,2019-06-22,0.59,3,1,374,1846
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,False,moderate,Private room,2009,1060,212,45,49,2017-10-05,0.40,5,1,219,47912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,False,flexible,Private room,2018,822,164,1,9,2019-04-25,0.91,3,1,0,986
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,True,moderate,Private room,2015,455,91,4,36,2018-06-27,1.28,1,1,0,1911
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,True,flexible,Private room,2020,1078,216,1,58,2019-06-10,2.08,5,2,120,1294
102032,57353610,Spacious Room w/ 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,False,moderate,Private room,2007,103,21,7,40,2019-06-23,1.51,1,5,148,742
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,True,strict,Private room,2022,982,196,1,239,2019-06-29,8.58,2,2,361,1178

In [71]:
df.sort_values(by='min_amount')

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,min_amount
38933,22504032,Luxury Building 15 mins from LES\nManhattan,13443662407,unconfirmed,Olivia,Brooklyn,Bushwick,40.70026,-73.93582,False,flexible,Entire home/apt,2004,50,10,1,3,2019-04-09,0.47,3,1,0,60
92208,51927814,cozy has 55 tv dressers living room has own he...,48732508045,verified,Freddy,Queens,East Elmhurst,40.76193,-73.87521,True,flexible,Private room,2019,50,10,1,1,2019-02-15,0.21,3,1,37,60
76640,43329608,Cute room for rent,87026779871,verified,Alida,Queens,Maspeth,40.73577,-73.89981,True,moderate,Private room,2011,50,10,1,1,2018-10-25,0.12,4,3,173,60
23336,13889809,"Bright, Beautiful & Welcoming in Williamsburg",96671377287,verified,Heidi,Brooklyn,Williamsburg,40.70849,-73.96190,True,moderate,Private room,2005,50,10,1,19,2019-02-02,1.11,5,2,0,60
57659,32846402,Amazing Event space with yard.,72403982176,unconfirmed,Lyndon,Brooklyn,Crown Heights,40.67324,-73.95800,False,moderate,Entire home/apt,2014,50,10,1,19,2022-01-09,2.08,5,2,361,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73027,41334148,Zen Room in Crown Heights Brooklyn,79450632039,verified,Laura,Brooklyn,Crown Heights,40.67255,-73.94914,True,strict,Private room,2022,1156,231,500,10,2016-09-22,0.22,3,1,365,578231
11194,7183782,Zen Room in Crown Heights Brooklyn,10818126630,unconfirmed,Laura,Brooklyn,Crown Heights,40.67255,-73.94914,False,moderate,Private room,2022,1156,231,500,10,2016-09-22,0.22,3,1,212,578231
13405,8404918,Historic Designer 2 Bed. Apartment,43219664735,verified,Glenn H.,Manhattan,Harlem,40.82915,-73.94034,False,moderate,Entire home/apt,2016,805,161,999,2,2018-01-04,0.07,3,1,137,804356
42407,24422722,Modern & Cozy 2 BR Private Apartment in Brooklyn,83669529485,unconfirmed,Gk,Brooklyn,Bay Ridge,40.63189,-74.02322,False,moderate,Entire home/apt,2022,843,169,2645,14,2019-06-14,3.59,3,1,271,2229904
42398,24417751,Bedroom in Prime Bushwick,29378706293,verified,Elena,Brooklyn,Bushwick,40.70235,-73.92892,True,flexible,Private room,2013,453,91,5645,1,2019-06-05,0.88,4,1,0,2557276

### _So far no NaN value_

In [72]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [id, name, host_id, host_identity_verified, host_name, neighbourhood_group, neighbourhood, lat, long, instant_bookable, cancellation_policy, room_type, construction_year, price, service_fee, minimum_nights, number_of_reviews, last_review, reviews_per_month, review_rate_number, calculated_host_listings_count, availability_365, min_amount]
Index: []

In [73]:
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long',
       'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'min_amount'],
      dtype='object')

### _Let's categorize records by assigning them "Good", "Bad" or "Worst" based on the min_amount_

In [74]:
df[['min_amount']].describe()

         min_amount
count  8.343600e+04
mean   4.728879e+03
std    1.685002e+04
min    6.000000e+01
25%    8.230000e+02
50%    1.607000e+03
75%    3.436000e+03
max    2.557276e+06

In [75]:
df['min_amount']

0          9853
1          4288
4          2081
5          1846
7         47912
          ...
102029      986
102030     1911
102031     1294
102032      742
102040     1178
Name: min_amount, Length: 83436, dtype: int64

In [95]:
labels = ["Good", "Normal", "Bad", "Worst"]

df['money_label'] = pd.qcut(df['min_amount'], q=[0, 0.25, 0.5, 0.75, 1], labels=labels)

df[['id', 'name', 'neighbourhood', 'min_amount', 'money_label']]

,id,name,neighbourhood,min_amount,money_label
0,1001254,Clean & quiet apt home by the park,Kensington,9853,Worst
1,1002102,Skylit Midtown Castle,Midtown,4288,Worst
4,1003689,Entire Apt: Spacious Studio/Loft by central park,East Harlem,2081,Bad
5,1004098,Large Cozy 1 BR Apartment In Midtown East,Murray Hill,1846,Bad
7,1005202,BlissArtsSpace!,Bedford-Stuyvesant,47912,Worst
...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,Astoria,986,Normal
102030,57352505,An East Williamsburg Delight,Bedford-Stuyvesant,1911,Bad
102031,57353057,Cozy bedroom in williamsburg,Williamsburg,1294,Normal
102032,57353610,Spacious Room w/ 2 Bed,Bayside,742,Good
102040,57358028,"Room in Queens, NY, near LGA.",East Elmhurst,1178,Normal